---
title: Engine
slug: ludiek/engine
---

The engine

## Concepts

The following engine concepts are currently implemented.

- Effects: Anything that can happen (Gaining money, debug printing, unlocking
- Numbers: