@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: 'dark';
  --color-primary: oklch(62% 0.194 149.214);
}

@plugin "daisyui/theme" {
  name: 'light';
  --color-primary: oklch(62% 0.194 149.214);
}

.pixelated {
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
