---
title: Wallet
slug: features/wallet
---

<script lang="ts">
  import { FeatureOverview } from '@123ishatest/ludiek-portal';
  import { demoGame } from '@123ishatest/ludiek';

  const contribution = demoGame.features.wallet.getEngineContribution();
</script>

The `Wallet` is one of the first features I like to design in any project.
Its responsibility is storing currency amounts and providing easy

## Engine Contributions
<FeatureOverview {contribution} />