---
title: Lui
---

<script lang="ts">
  import LudiekAlert from '$lib/components/atoms/LudiekAlert.svelte';
  import { resolve } from '$app/paths';
</script>

Lui is a headless UI framework providing components that work with the Ludiek engine.

<LudiekAlert type="danger">
  <a href={resolve('/docs/other/roadmap')}>TODO</a>
</LudiekAlert>